
.container {
 width: 1000px;
 margin: 0 auto;
 /* background-color: aquamarine; */
}

a, span, p, h1, h2, h3, h4  {
 font-family: 'Poppins', sans-serif;
 font-size: 12px;
 font-weight:500 ;
 color: rgb(36, 33, 33);
 }
 
 a {
  text-decoration: none;
 }

/* header .......................................................*/
 
header {
 /* position: relative; */
 /* background-color: cadetblue; */
}

header .container {
 display: flex;
 align-items: center;
 justify-content: space-between;
}

nav {
 display: inline-block;
 /* float: right;  */
}

nav ul {
 list-style: none;
 margin: 0;
padding: 0;
}

nav li {
 display: inline-block;
padding: 20px;
position: relative;
width: max-content;
}


header nav > ul > li > ul {
 display: none; 
background-color: #fff;
position:absolute;
top: 100%;
right: 30%;
}

header nav > ul > li > ul a,
header nav > ul > li > ul > li > ul a {
 padding: 0px 100px 0px 10px;
}

header nav > ul > li > ul > li,
header nav > ul > li > ul > li> ul> li {
 padding: 4px;
}

header nav > ul > li:hover > ul {
 display: block;
}

header nav > ul > li > ul > li > ul {
 background-color:#fff;
 display: none;
 position: absolute;
 right:100% ;
 top: 0%;
}
header nav > ul > li > ul > li:hover > ul {
 display: block;
}


header nav > ul > li:first-of-type > a {
 color:  rgb(163, 163, 235);
} 

header a:hover {
 color: rgb(163, 163, 235);
}

header nav > ul > li img {
 width: 12px;
 vertical-align: middle;
}

/* main ............................................................*/

main .container {
 /* background-color: aquamarine; */
 display: flex;
 align-items: center;
 justify-content: space-between;
}

main .container3 {
 display: flex;
 align-items: center;
 flex-direction: column;
}
 
 main .container4 {
 display: flex;
 text-align: center;
 justify-content: center;
 flex-direction: column;
} 

.main4bottom,
.main4top {
 text-align: center;
 display: flex;
 flex-direction: row;
 justify-content:center;
 align-items: center;
}

.main1 {
 background-color: rgb(241, 244, 252);
}

.main1,
.main2 {
 margin-bottom: 70px;
}

/* button....................................................... */

.main1L button,
.main2R button {
color: #fff;
background: linear-gradient(0.25turn, #9d9cff, #7baffd, #3babec );
border: none;
border-radius: 1px;
padding: 10px;
font-size: 12px;
transition-duration: 0.5s ;
}
.main1 button:hover,
.main2R button:hover {
 box-shadow: 1px 10px 15px 2px rgba(153, 167, 248, 0.726) ;
 cursor:pointer;
}

/* headlines....................................................... */

.main1L h1,
.main2R h1,
.main3 h3 {
 font-weight: bold;
 font-size: 40px;
}
.main4 h4 {
 font-weight: bold;
 font-size: 20px;
}

/* paragraphs....................................................... */

main p {
 font-size: 15px;
 color: rgba(124, 124, 124, 0.863);
}
.main1 p
 {
width:500px;
}
.main2 p {
width: 490px;
}
.main3 p {
 width:600px;
 text-align: center;
}
.main4 p {
width: 300px;
}

/* main4 headlines, images and divs ................................ */

.main4 img,
.main4 svg {
 width: 40px;
}

.main4 div div > div {
 margin: 20px 40px;
 width: max-content;
}

.main4 div div > div:hover h4 {
 color:rgba(153, 167, 248, 0.726) ;
 transition-duration: 00.25s;
 transition-delay: 00.10s;
}
.main4 div div > div:hover img {
 background-color:rgba(153, 167, 248, 0.726) ;
 transition-duration: 00.25s;
 
}