.container {
  width: 1000px;
  margin: 0 auto;
  /* background-color: aquamarine; */
}

a,
span,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: rgb(58, 54, 54);
}

a {
  text-decoration: none;
}

/* header .......................................................*/

header {
  /* position: relative; */
  /* background-color: cadetblue; */
}

header .container {
  /* position: fixed;
 z-index: 1; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: inline-block;
  /* float: right;  */
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  padding: 20px;
  position: relative;
  width: max-content;
}

header nav>ul>li>ul {
  display: none;
  background-color: #fff;
  position: absolute;
  top: 100%;
  right: 30%;
}

header nav>ul>li>ul a,
header nav>ul>li>ul>li>ul a {
  padding: 0px 100px 0px 10px;
}

header nav>ul>li>ul>li,
header nav>ul>li>ul>li>ul>li {
  padding: 4px;
}

header nav>ul>li:hover>ul {
  display: block;
}

header nav>ul>li>ul>li>ul {
  background-color: #fff;
  display: none;
  position: absolute;
  right: 100%;
  top: 0%;
}

header nav>ul>li>ul>li:hover>ul {
  display: block;
}

header nav>ul>li:first-of-type>a {
  color: rgb(163, 163, 235);
}

header a:hover {
  color: rgb(163, 163, 235);
}

header nav>ul>li img {
  width: 12px;
  vertical-align: middle;
}

/* main and flex ............................................................*/

main .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .container3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

main .container4 {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.main4bottom,
.main4top {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main1 {
  background-color: rgb(241, 244, 252);
}

.main1,
.main2 {
  margin-bottom: 70px;
}

/* button....................................................... */

.main1L button,
.main2R button {
  color: #fff;
  background: linear-gradient(0.25turn, #9d9cff, #7baffd, #3babec);
  border: none;
  border-radius: 1px;
  padding: 10px;
  font-size: 12px;
  transition-duration: 0.5s;
}

.main1 button:hover,
.main2R button:hover {
  box-shadow: 1px 10px 15px 2px rgba(153, 167, 248, 0.726);
  cursor: pointer;
}

/* headlines....................................................... */

.main1L h1,
.main2R h1,
.main3 h5,
h5 {
  font-weight: bold;
  font-size: 40px;
}

h6 {
  font-weight: bold;
  font-size: 20px;
}

.main3 h5,
h5,
h6 {
  margin: 0;
}




/* p & span....................................................... */

main p,
.projectsTxt span,
.projectsPics span,
.feedback span {
  font-size: 15px;
  color: rgba(124, 124, 124, 0.863);
}

.main1 p {
  width: 500px;
}

.main2 p {
  width: 490px;
}

.main3 p {
  width: 600px;
  text-align: center;
}

.main4 p {
  width: 300px;
}

/* main4 headlines, images and divs ................................ */

.main4 img,
.main4 svg {
  width: 40px;
}

.main4 div div>div {
  margin: 20px 40px;
  width: max-content;
}

.svgColor h6 {
  transition-delay: 00.10s;
  transition-duration: 00.25s;
}
.svgColor:hover h6 {
  color: rgba(153, 167, 248, 0.726);
}

/* problemmmmmmmmmmmmmmmmmmmmmmmmmmmm */
.svgColor svg {
  padding: 20px;
  fill: rgb(39, 38, 38);
  transition-duration: 00.25s;
}

.svgColor:hover svg {
  fill: rgba(153, 167, 248, 0.726);
}

/* problemmmmmmmmmmmmmmmmmmmmmmmmmmmm */

/* numbers section  .................................................*/

.containerNumbers {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.numbers {
  margin-top: 100px;
  background: linear-gradient(0.25turn, #9d9cff, #7baffd, #3babec);
  height: 250px;
  margin-bottom: 100px;
}

.numbers span {
  color: white;
  font-size: 17px;
}

.numbers h5 {
  color: white;
  font-size: 35px;
  font-weight: bold;
}

.containerNumbers > div {
  width: max-content;
  margin: 20px 80px;
}


.num1 {
  counter-reset: nameOne;
}

.num1 h5::before {
  counter-increment: nameOne;
  content: counter(nameOne);

  animation: count1 0.5s linear forwards;
}

@keyframes count1 {
  0% {

    counter-increment: nameOne;
  }

  10% {

    counter-increment: nameOne 2124;

  }

  20% {

    counter-increment: nameOne 2164;

  }

  30% {

    counter-increment: nameOne 2238;

  }

  40% {

    counter-increment: nameOne 2259;

  }

  50% {

    counter-increment: nameOne 2324;

  }

  60% {

    counter-increment: nameOne 2371;

  }

  70% {

    counter-increment: nameOne 2446;

  }

  80% {

    counter-increment: nameOne 2499;

  }

  90% {

    counter-increment: nameOne 2522;

  }

  100% {

    counter-increment: nameOne 2536;

  }
}

.num2 {
  counter-reset: nameTwo;
}

.num2 h5::before {
  counter-increment: nameTwo;
  content: counter(nameTwo);

  animation: count2 0.5s linear forwards;
}

@keyframes count2 {
  0% {
    counter-increment: nameTwo;
  }

  10% {

    counter-increment: nameTwo 2024;
  }

  20% {

    counter-increment: nameTwo 2964;
  }

  30% {

    counter-increment: nameTwo 3238;
  }

  40% {

    counter-increment: nameTwo 3259;
  }

  50% {

    counter-increment: nameTwo 4324;
  }

  60% {

    counter-increment: nameTwo 4371;
  }

  70% {

    counter-increment: nameTwo 4446;
  }

  80% {

    counter-increment: nameTwo 5499;
  }

  90% {

    counter-increment: nameTwo 6522;
  }

  100% {

    counter-increment: nameTwo 6784;
  }
}



.num3 {
  counter-reset: nameThree;
}

.num3 h5::before {
  counter-increment: nameThree;
  content: counter(nameThree);
  animation: count3 0.5s linear forwards;
}


@keyframes count3 {
  0% {
    counter-increment: nameThree;
  }

  10% {
    counter-increment: nameThree 1104;
  }

  20% {
    counter-increment: nameThree 1164;
  }

  30% {
    counter-increment: nameThree 1038;
  }

  40% {

    counter-increment: nameThree 2059;
  }

  50% {

    counter-increment: nameThree 2124;
  }

  60% {

    counter-increment: nameThree 2131;
  }

  70% {

    counter-increment: nameThree 2146;
  }

  80% {

    counter-increment: nameThree 2200;
  }

  90% {

    counter-increment: nameThree 2222;
  }

  100% {

    counter-increment: nameThree 2239;
  }
}


.num4 {
  counter-reset: nameFour;
}

.num4 h5::before {
  counter-increment: nameFour;
  content: counter(nameFour);
  animation: count4 0.5s linear forwards;
}


@keyframes count4 {
  0% {

    counter-increment: nameFour;
  }

  10% {

    counter-increment: nameFour 99;
  }

  20% {

    counter-increment: nameFour 146;
  }

  30% {

    counter-increment: nameFour 179;
  }

  40% {

    counter-increment: nameFour 212;
  }

  50% {

    counter-increment: nameFour 254;
  }

  60% {

    counter-increment: nameFour 278;
  }

  70% {

    counter-increment: nameFour 322;
  }

  80% {

    counter-increment: nameFour 392;
  }

  90% {

    counter-increment: nameFour 400;
  }

  100% {

    counter-increment: nameFour 434;
  }
}


/* Projects section.................................................*/


.projectsTxt,
.feedbackH,
.planH {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectsMenu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.projectsPics {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 1200px;
}

.projectsMenu ul {
  display: inline-block;
  list-style-type: none;
  padding: 0;
}

.projectsMenu li {
  position: relative;
  display: inline-block;
  padding: 16px;
  cursor: pointer;
}

.projectsMenu li a {
  font-weight: bold;
}

.projectsMenu li:nth-of-type(1) a {
  color: rgb(163, 163, 235);
}

.projectsMenu hr {
  position: absolute;
  margin-bottom: 0px;
  border: 1.45px solid black;
  width: min-content;
  visibility: hidden;
  text-align: left;
}

.projectsMenu li:hover hr {
  visibility: visible;
  width: 10px;
  animation: underline 0.25s 0.10s 1 both ease-out;
}

@keyframes underline {
  0% {
    width: 0px;
  }

  40% {
    width: 4px;
  }

  60% {
    width: 6px;
  }

  100% {
    width: 10px;
  }

}


.projectsPics img {
  border-radius: 10px;
  margin-bottom: 12px;
}

.projectsPics div {
  margin-bottom: 30px;
}

.twoImg {
  position: relative
}

/* problemmmmmmmmmmmmmmmmmmmmmmmmmmmmmm: transition */
.projectsPics>div:hover .binocular {
  visibility: visible;
}

.binocular {
  background: linear-gradient(0.25turn, #9d9cff, #7baffd, #3babec);
  opacity: 80%;
  width: 340px;
  height: 340px;
  border-radius: 10px;
  position: absolute;
  top: -1px;
  visibility: hidden;

  transition: visibility 0.15s;
}

.binocular img {
  margin: 45% 42%;
}

/* problemmmmmmmmmmmmmmmmmmmmmmmmmmmmmm */

/* feedback section................................................ */


.feedback {
  height: 550px;
  margin: 70px auto;
  background-color: #f7f7ff;
}

.feedback img {
  width: 35px;
}

.clients p {
  width: 420px;
}

.client1:hover h6,
.client2:hover h6 {
  color: rgb(163, 163, 235);
}

.client1 h6,
.client2 h6 {
  transition-duration: 0.25s;
}

.client1,
.client2 {
  background-color: #fff;
  padding: 30px;

}

.clients>.container {
  margin-bottom: 50px;
  position: relative;
}

.feedbackH {
  padding: 60px;
}

/* problemmmmmmmmmmmmmmmmmmmmmmmmm: buttons */

.client1 {
  animation: slide1 8s infinite;
  position: absolute;
}

.client2 {
  animation: slide2 8s infinite;
  position: absolute;
}


@keyframes slide1 {

  0% {
    visibility: visible;
    top: 1px;
    right: 550px;
  }

  100% {
    visibility: visible;
    top: 1px;
    left: 550px;
  }
}

@keyframes slide2 {

  0% {
    visibility: visible;
    top: 1px;
    left: 550px;
  }

  100% {
    visibility: visible;
    top: 1px;
    right: 550px;
  }
}



/* plan section................................................... */

.thePlans {
  display: flex;
  align-items: center;
  justify-content: center;
}

.plan {
  background-color: #f7f7ff;
  width: 250px;
  padding: 10px;
  text-align: center;
}

.plan>div {
  margin-bottom: 30px;
}

.planH {
  margin-bottom: 30px;
}


.thePlans h4 {
  font-size: 40px;
  display: inline;
}

.thePlans h3 {
  font-size: 18px;
  font-weight: bold;
  padding: 13px 60px;
  background: whitesmoke;
  visibility: hidden;
  position: absolute;
  left: 24px;
  top: -15px;
}

.btn {
  position: relative;
}

.thePlans hr {
  width: 200px;
  opacity: 15%;
  border: 1px solid gray;
}

.bigCircle {
  border-radius: 50%;
  background: #dad9ff;
  padding: 30px;
  display: inline-block;
}

.circle {
  display: inline-block;
  border-radius: 50%;
  padding: 20px;
  background: #eaeaff;
}

.plan:hover .bigCircle {
  background: #c3d6ff;
}

.plan:hover .circle {
  background: #7baffd;
}

.plan {
  transition: all 0.5s;
}

.plan:hover {
  background: linear-gradient(0.25turn, #9d9cff, #7baffd, #3babec);
  transform: scale(1.05);
}

.plan:hover p,
.plan:hover h6,
.plan:hover h4 {
  color: #fff;
}

.plan:hover h3 {
  visibility: visible;
}

.plan:hover hr {
  border: 1px solid rgb(243, 240, 240);
}



/* posts section................................................... */

.posts {
  background-color: #f7f7ff;
  margin-top: 70px;
}

.containerPosts {
  width: 1300px;
  height: 800px;
  margin: 0 auto;
}

.postsH {
  text-align: center;
  width: 700px;
  margin: 0 auto;
}

.postsPics {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post div:first-of-type {
  width: 360px;
  height: 220px;
  overflow: hidden;
}

/* problemmmmmmmmmmmmmmmmmmmm: only the fist img  */
.post img:first-of-type,
.post h6 {
  transition-duration: 1s;
}

.post:hover img:first-of-type {
  transform: scale(1.10);
  transition: transform 1s;
}

/* problemmmmmmmmmmmmmmmmmmmm*/

.post:hover h6 {
  color: rgb(163, 163, 235);
}

.postsPics>div {
  width: 360px;
}

.posts hr {
  opacity: 15%;
  margin-top: 0;
  margin-bottom: 50px;
}

.date p {
  display: inline-block;
  margin-left: 150px;
}

.date span {
  margin-left: 10px;
}

.date img {
  vertical-align: middle;
}

/* logos section................................................... */

.logos {
  background: linear-gradient(0.25turn, #9d9cff, #7baffd, #3babec);
  height: 200px;
  display: flex;
  justify-content: center;
}

.containerLogos {
  width: 1150px;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logos img {
  opacity: 0.35;
  transition-duration: 0.30s;
}

.logos img:hover {
  opacity: 1;
}

/* footer section................................................... */

footer {
  background-color: rgb(3, 2, 32);
  display: flex;
  justify-content: center;
}

.containerFooter {
  /* background-color: beige; */

  width: 1600px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

footer p {
  color: rgb(164, 164, 165);
  width: 350px;
}

footer h6 {
  color: rgb(238, 238, 241);
}

footer a {
  color: #88a7ff;
}

footer input {
  width: 300px;
  height: 20px;
  padding: 17px;
  font-size: 15px;
  text-indent: 15px;
  outline: none;
  border: none;
  background-color: aliceblue;
}

footer button {
  background-color: #8e9fff;
  ;
  padding: 15px;
  border: none;
  position: absolute;
}

footer input:focus::placeholder {
  color: transparent;
}

.emailBox {
  position: relative;
}